.chipStyle {
    /** Only style I needed to make it look good as is was increase height of chips **/
    height: 30px !important;
    min-width: 55px;
    width: auto;
    background-color: #2196f3;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: .25rem;
    display: inline-block;
    margin-left: 3px;
    margin-bottom: 3px;
  }